<ion-header>
  <ion-toolbar>
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id=campodetexto>
    <h2>CDC – Controle de Doações Comunitária</h2>
  Relatório Técnico Parcial - Cientifico
  apresentado na disciplina de Projeto Integrador
  para o curso de Engenharia da Computação da
  Universidade Virtual do Estado de São Paulo
  (UNIVESP).
  <p></p>
  No bairro do Jardim gaivotas foi realizada uma campanha de doação de cestas
básicas para a comunidade carente, com a ajuda de voluntários mais de 400 famílias
foram contempladas com cestas básicas.<br>
Infelizmente na distribuição das cestas não era realizado nenhum controle de
distribuição, permitido apenas 1º pessoa da família retirar a cesta básica, com foco de
assim atingir o maior número de famílias contempladas pela doação.<br>
Visto que não tinha controle de distribuição, muitas famílias não conseguiram receber
a doação, e outras receberam mais de uma unidade.<br>
Decidimos então, criar uma maneira de controle de distribuição das doações, algo
simples e fácil de manusear.<br>
Através de um aplicativo que pode ser instalado em qualquer smartphone
será possível:<br>
 Criar cadastro do beneficiário<br>
 Verificar se já foi realizada retirada da doação ou não<br>
 Ter maior controle de quantas famílias foram contempladas com o benefício.<br>
</div>
<ion-button [routerLink]="['/home']" routerdirection="forward" class="btn2 two">Voltar ao Inicio</ion-button>
</ion-content>
