<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Doação de cestas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      
    <div class="botoes">

      <form ng-submit="fechaTeclado()">
        <div class="bar bar-subheader bar-light">
            <label class="item item-input item-floating-label">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" size="100" ng-model="q" placeholder="Procurar" type="submit" ng-submit="fechaTeclado()" ng-click="fechaTeclado()"/>
                <input type="submit" id="submit" value="OK" ng-click="fechaTeclado()"/>

            </label>
        </div>
        </form>


      <input type="procurar" input type="number" class="procurar" name="q" placeholder="Informe o CPF" required="required">
      
      <button [routerLink]="['/cadastrar']" routerdirection="forward" class="btn2 two">CADASTRAR</button>
      <button [routerLink]="['/informacao']" routerdirection="forward" class="btn3 three">INFORMAÇÕES</button>
     
      

    </div>
    
  </div>
</ion-content>

